.heart{
    float:right;
    height:50px;
    width:50px;
    /* overflow: hidden; */
    text-align: center;
}


svg{
    position:absolute;
    transform: scale(2);
    top:0;
    z-index:0
}

.likesNumber{
    color:aliceblue;
    font-weight: bold;
    position:relative;
    top:0;
    left:10px;
    z-index:1
    
    
}